---

import { getCollection } from 'astro:content';
const marcasEntries = await getCollection('marcas');

import JuguetesLayout from '../../layouts/JuguetesLayout.astro';
import CardMarca from '../../components/CardMarca.astro';

---


<JuguetesLayout>
    
    <div class="flex flex-1 overflow-y-auto mb-0 mt-2  md:mb-2 ">
        {/* Sección principal */}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 px-4 md:px-10 lg:px-40 gap-4">
        {
            marcasEntries.map((marca) => (
                <CardMarca marca={marca} />
            ))

        }
        </div>


    </div>


</JuguetesLayout>

