---
import { Image } from 'astro:assets';
import LOGO from '../images/LOGO.svg';


---

<nav class="flex px-5 justify-between items-center w-full mb-8 mt-4">
    <div>
        <a href="/">
          <Image src={LOGO} alt={"Rincón de Duendes"} width={80} height={80} class='object-cover object-center' />
        </a>
    </div>

    
      {/* Botón de Menú para pantallas pequeñas */}
      <button id="menu-toggle" class="sm:hidden p-2 focus:outline-none">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
        </svg> -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
        </svg>
        
        
      </button>


      <!-- Menú desplegable en pantallas pequeñas -->
      <div id="mobile-menu" style="display: none;" class="absolute top-16 left-1/2 transform -translate-x-1/2 bg-white shadow-lg z-50 flex-col sm:hidden w-auto p-4 rounded-lg transition-all">
        <a class="flex flex-row m-2 p-2 rounded-md transition-all hover:bg-gray-100 " href="/">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width={2} d="M3 10.5V19a2 2 0 002 2h14a2 2 0 002-2v-8.5M3 10.5l9-7 9 7m-9-7v5a2 2 0 01-2 2h-2a2 2 0 01-2-2v-5m4 0v5a2 2 0 002 2h2a2 2 0 002-2v-5" />
          </svg>
          Todo</a>
        <a class="flex flex-row m-2 p-2 items-center rounded-md transition-all hover:bg-gray-100" href="/libros">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width={2} d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
          </svg>
          Libros</a>
        <a class="flex flex-row  m-2 p-2 rounded-md transition-all hover:bg-gray-100" href="/juguetes">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width={2} d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          Juguetes</a>
        <!-- <a class="block m-2 p-2 rounded-md transition-all hover:bg-gray-100" href="/">Cuentacuentos</a> -->
        <a class="flex flex-row m-2 p-2 rounded-md transition-all hover:bg-gray-100" href="/nuestro-objetivo">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width={2} d="M13 10V3L4 14h7v7l9-11h-7z" />
          </svg>
          Nuestro objetivo</a>
      </div>

      {/* Menú para pantallas grandes */}
      <div class="hidden sm:flex">
        <a class="flex flex-row m-2 p-2 rounded-md transition-all hover:bg-gray-100" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width={2} d="M3 10.5V19a2 2 0 002 2h14a2 2 0 002-2v-8.5M3 10.5l9-7 9 7m-9-7v5a2 2 0 01-2 2h-2a2 2 0 01-2-2v-5m4 0v5a2 2 0 002 2h2a2 2 0 002-2v-5" />
          </svg>
          Todo</a>
        <a class="flex flex-row m-2 p-2 items-center rounded-md transition-all hover:bg-gray-100" href="/libros">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width={2} d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
          </svg>
          Libros</a>
        <a class="flex flex-row m-2 p-2 rounded-md transition-all hover:bg-gray-100" href="/juguetes">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width={2} d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          Juguetes</a>
        <!-- <a class="m-2 p-2 rounded-md transition-all hover:bg-gray-100" href="/">Cuentacuentos</a> -->
        <a class="flex flex-row m-2 p-2 rounded-md transition-all hover:bg-gray-100" href="/nuestro-objetivo">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width={2} d="M13 10V3L4 14h7v7l9-11h-7z" />
          </svg>
          Nuestro onjetivo</a>
      </div>


    {/* Search, Cart, Menu */}
    <div class="flex items-center">
      <a href="/search" class="mx-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-4.35-4.35M11 19a8 8 0 1 1 0-16 8 8 0 0 1 0 16z" />
        </svg>
      </a>
    </div>
  </nav>
  

  <!-- Script para manejar el evento de clic -->
<script>
  document.addEventListener('astro:page-load', () => {
  const menuToggle = document.getElementById('menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');

  if (!menuToggle || !mobileMenu) {
    console.error('Elementos no encontrados');
    return;
  }

  menuToggle.addEventListener('click', () => {
    //console.log('¡onclick')
    if (mobileMenu.style.display === 'none' || !mobileMenu.style.display) {
      mobileMenu.style.display = 'flex'; // Asegúrate de que el menú se muestre como un contenedor flex
    } else {
      mobileMenu.style.display = 'none';
    }
  });
});
</script>
