---
import TabJuguetesSelect from "../components/ui/TabJuguetesSelect.astro";
import BaseLayout from "./BaseLayout.astro";

---

<BaseLayout title="Juguetes">

    <div class="mb-16">
        <TabJuguetesSelect  />
    </div>
    
    <slot />


</BaseLayout>