---
import { Image } from 'astro:assets';
import cover from '../../images/Cover.png';
---

<div class="relative w-full h-96 mt-2 md:mt-0">
    <Image
      src={cover}
      alt="Colorful abstract background"
      width={1200}
      height={1200}
      class="object-cover w-full h-52 md:h-full"
    />
    <div class="container mx-auto absolute inset-0 flex flex-col items-center max-w-4xl justify-center ">
        <p class="text-base md:text-xl leading-relaxed text-black italic mt-8 max-w-72 md:max-w-none md:mt-0  md:mx-10">
            Juguetería alternativa donde los juguetes artesanales de siempre conviven con las últimas
            innovaciones en artículos de madera responsable (eco-friendly).
        </p>

        <p class="mt-4  md:m-6 mb-8 text-base text-black italic ">
            Construimos fantasía con juguetes de verdad!
        </p>
    </div>
  </div>

  		<!-- <section class=`relative bg-[url(../images/Cover.png)] bg-cover bg-center bg-no-repeat md:h-96 h-64 md:mt-0` >
			<div class="text-center absolute inset-0 flex flex-col items-center justify-center">
				<p class="text-2xl hidden sm:block leading-relaxed text-black max-w-xl italic">
					Juguetería alternativa donde los juguetes artesanales de siempre conviven con las últimas
					innovaciones en artículos de madera responsable (eco-friendly).
				</p>
	
				<p class="mt-24 md:mt-4 max-w-lg sm:text-xl/relaxed text-black italic">
					Construimos fantasía con juguetes de verdad
				</p>
			</div>
		</section> -->