---



---

<div class="flex mx-auto">
    <div role="tablist" class="tabs tabs-lifted max-w-80">
        <a role="tab" class="tab">Por Marca</a>
        <a
          role="tab"
          class="tab tab-active text-primary [--tab-bg:yellow] [--tab-border-color:orange]">
          Por categoría
        </a>
        <a role="tab" class="tab"></a>
      </div>

</div>